{% extends 'base.html' %}

{% block content %}
  <h2>Your Cart</h2>

  {% if cart  %}
    <table class="table table-bordered">
      <thead>
        <tr>
          
          <th>Item</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Subtotal</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for cart_item in cart.cart_items.all %}
          <tr>
            <td>{{ cart_item.item.item_name }}</td>
            <td>${{ cart_item.item.price }}</td>
            <td>
              <form method="post" action="{% url 'increment_quantity' cart_item.unique_id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-default btn-sm">+</button>
                <input type="number" min="1" value="{{ cart_item.quantity }}" class="form-control quantity-input" id="quantity_{{ cart_item.uid }}" style="max-width: 60px;">
              </form>
              <form method="post" action="{% url 'decrement_quantity' cart_item.unique_id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-default btn-sm">-</button>
              </form>
            </td>
            <td>{{ cart_item.item_total }}</td>
            <td>
              <a href="{% url 'remove_cart_item' cart_item.unique_id %}" class="btn btn-danger">
                <i class="fas fa-trash"></i> Remove
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    
    <div class="text-right">
      <p><strong>Total: ${{ cart_total }}</strong></p>
      <a href="{% url 'payment' cart_total %}" class="btn btn-primary">Proceed to Checkout</a>
    </div>
  {% else %}
    <p>Your cart is empty.</p>
  {% endif %}
{% endblock %}

  
