{% extends 'base.html' %}

{% block content %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/media/image-1.jpg" alt="Image 1" class="d-block w-100 h-50">
    </div>
    <div class="carousel-item">
      <img src="/media/image-2.jpeg" alt="Image 2" class="d-block w-100 h-50" >
    </div>
    
  </div>

  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

  <h2>Home</h2>
 

<form action="{% url 'home' %}" method="get">
  <div class="input-group mb-3">
    <select class="form-select" name="category">
      <option value="">All Categories</option>
      {% for category in categories %}
        <option value="{{ category }}">{{ category.type_Name}}</option>
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary">Filter</button>
  </div>
</form>


<div class="row">
  {% for item in items %}
  <div class="col-md-4 mb-4">

     <!-- Set a fixed height for the card -->
     <div class="card h-100">
      <a href="{% url 'item_prev' item.unique_id %}">
        <img src="/media/{{ item.image }}" class="card-img-top" alt="{{ item.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ item.item_name }}</h5>
          <p class="card-text">{{ item.type }}</p>
          <p class="card-text">Price: Rs {{ item.price }}</p>
          <div class="rating">
            {% if item.ratings %}
              <p> Rating: <b>{{item.ratings.rate}}</b> ({{item.ratings.count}})</p>
            {% else %}
              <!-- If no rating available, show a message -->
              No rating yet.
            {% endif %}
          </div>
          
          <form action="{% url 'add_cart' item.unique_id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Add to Cart</button>
          </form>
        </div>
      </a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}