{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      {% if item %}
        <div class="col-md-4 mb-4">
          <!-- Set a fixed height for the card -->
          <div class="card h-100">
            <img src="/media/{{ item.image }}" class="card-img-top" alt="{{ item.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ item.item_name }}</h5>
              <p class="card-text">{{ item.type }}</p>
              <p class="card-text">Description:<br>{{ item.details }}</p>
              <p class="card-text">Price: Rs {{ item.price }}</p>
              <div class="rating">
                {% if item.ratings %}
                  <p>Rating: <b>{{ item.ratings.rate }}</b> ({{ item.ratings.count }})</p>
                {% else %}
                  <!-- If no rating available, show a message -->
                  No rating yet.
                {% endif %}
              </div>
              <form action="{% url 'add_cart' item.unique_id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Add to Cart</button>
              </form>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  
    <div class="row">
      <div class="col-md-12">
        <h3>Review: </h2>
        {% if reviews %}

          {% for review in reviews %}
            <div class="card mb-3">
              <div class="card-body">
                <h6 class="card-title">{{ review.user.username }}: </h6>
                <p class="card-text">  {{ review.comment }}</p>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <p>No reviews available.</p>
        {% endif %}
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12">
        <h3>Similar Items</h3>
      </div>
      {% for item in sim_items %}
      <div class="col-md-4 mb-4">

        <!-- Set a fixed height for the card -->
        <div class="card h-100">
         <a href="{% url 'item_prev' item.unique_id %}">
           <img src="/media/{{ item.image }}" class="card-img-top" alt="{{ item.name }}">
           <div class="card-body">
             <h5 class="card-title">{{ item.item_name }}</h5>
             <p class="card-text">{{ item.type }}</p>
             <p class="card-text">Price: Rs {{ item.price }}</p>
             <div class="rating">
               {% if item.ratings %}
                 <p> Rating: <b>{{item.ratings.rate}}</b> ({{item.ratings.count}})</p>
               {% else %}
                 <!-- If no rating available, show a message -->
                 No rating yet.
               {% endif %}
             </div>
             
             <form action="{% url 'add_cart' item.unique_id %}" method="post">
               {% csrf_token %}
               <button type="submit" class="btn btn-primary">Add to Cart</button>
             </form>
           </div>
         </a>
       </div>
     </div>
     {% endfor %}
    </div>
  </div>
{% endblock %}