{% extends 'base.html' %} 

{% block content %}
  <h2>Search Results</h2>

  {% if query %}
    <p>Showing results for: {{ query }}</p>
  {% endif %}

  {% if results %}
    <div class="row">
      {% for item_obj in results %}
        <div class="col-md-4 mb-4">
          <!-- Set a fixed height for the card -->
          <img src="/media/{{ item_obj.image }}" class="card-img-top" alt="{{ item_obj.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ item_obj.item_name }}</h5>
            <p class="card-text">{{ item_obj.type }}</p>
            <p class="card-text">Price: ${{ item_obj.price }}</p>
            <form action="{% url 'add_cart' item_obj.unique_id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Add to Cart</button>
            </form>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No results found.</p>
  {% endif %}

{% endblock %}
